// theme colors
//
$color-primary: #f87461;
$color-primary-light: #fca87e;
$color-primary-dark: #f53a3d;
//
$color-secondary-light: #8a9ac5;
$color-secondary-dark: #3b5998;
//
$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;
//
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #f9f9f9;
$color-grey-light-2: #ecebeb;
//
// theme gutters
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
//
// font
$default-font-size: 1.6rem;